.navbar-brand img {
  max-height: 100px;
}

.navbar {
  display: flex;
  align-items: stretch;
}

.navbar-nav {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 100px;
  margin-bottom: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 15px;
}

.nav-item .btn {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color, #ffffff);
  background-color: transparent;
  height: 100px;
  border: none;
  width: 150px;
  justify-content: center;
}

.nav-item .btn:hover{
  background-color: var(--primary-color, #ffffff);
  filter: brightness(75%);
}

.nav-item-selected {
  background-color: var(--primary-color, #ffffff);
  filter: brightness(75%);
}
