.navbar-brand img {
  max-height: 100px;
}

.navbar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.navbar-buttons, .navbar-links {
  display: flex;
}

.navbar-nav {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-left: 15px;
}

.nav-item .btn {
  font-weight: bold;
  color: var(--secondary-color, #ffffff);
  background-color: transparent;
  height: 100px;
  border: none;
  width: 200px;
  justify-content: center;
}

.nav-item .btn:not(.nav-icon) {
  font-size: 24px;
}

.nav-item .btn:hover {
  transition: 0.2s ease-in-out;
  background-color: inherit;
  border-color: inherit;
  filter: brightness(75%);
}

.nav-item .btn:hover:not(.nav-icon) {
  font-size: 28px;
}

.nav-item-selected {
  font-size: 28px;
  background-color: var(--primary-color, #ffffff);
  filter: brightness(75%);
}

.nav-icon {
  display: flex;
  font-size: 40px;
  color: var(--secondary-color, #ffffff);
  border: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.nav-icon:hover {
  transition: 0.2s ease-in-out;
  font-size: 46px;
  background-color: inherit;
  border-color: inherit;
  filter: brightness(75%);
}

.nav-icon-selected {
  font-size: 46px;
  color: var(--primary-color, #ffffff);
  filter: brightness(75%);
}
